@import "bootstrap-sprockets";
@import "bootstrap";


table {
    border-collapse: collapse;
    width: 100%;
}



.xbtn-group .xbutton {
    background-color: #0080ff; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
   
    margin_top: 20px;
}

.xbtn-group .xbutton:hover {
    background-color: #0059b3;
}


.btn-group .button {
    background-color: #0080ff; /* blue */
    border: 1px #0059b3;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
}

 



.buttonsub {
    background-color: #0080ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.floating-boxfd {
    border-radius: 5px;
    float: left;
    width: 160px;
    height: 50px;
    margin-top: 22px;
    margin-left: 50px;
    


}


.viv {
    
    float:center 
    width
}
.floating-boxxx {
    border-radius: 5px;
    float: left;
    width: 140px;
    height: 80px;
    margin: 23px;
    margin-left: 150px;
            

}



.floating-boxtop {
    border-radius: 5px;
    float: center;
    width: 100%;
    height: 80px;
    margin: 2px;
            

}


.divider {
   
    float: left;
    width: 100%;
    height: 3px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
        border: 3px solid #0080ff;
}

.pages {
   
    float: left;
    width: 100%;
    height: 3px;
    margin: 0px;
    margin-top: 35px;
        border: 3px solid #0080ff;
}

.divider2 {
   
    float: left;
    width: 100%;
    height: 3px;
    margin: 0px;
    margin-top: 0px;
        border: 3px solid #0080ff;
}



.floating-boxnav{
  
    float: left;
    width: 150px;
    height: 350px;
    margin-top:80px;
    border: 3px solid #0080ff ;
}


.floating-boxsub {
    border-radius: 5px;
    float: left;
    width: 250px;
    height: 80px;
    margin: 23px;



}


.floating-boxjk {
   
    float: left;
    width: 1px;
    height: 472px;
    margin: 1px;
    margin-top: 0px;
    border: 3px solid #0080ff;

    
        

}

.floating-boxtt {
    border-radius: 5px;
    float: center;
    width: 260px;
    height: 60px;
    margin-top: 6px;
    margin-left: 12px;
       



    
}

.floating-time {
    border-radius: 25px;
    float: right;
    width: 290px;
    height: 460px;
    margin-right: 5px;
       

    

    




    
}

.floating-boxrow{
    border-radius: 25px;
    float: right;
    width: 100px;
    height: 230px;
    margin-right: 5px;
    margin-top: 8px;




    
}

.toprow {

    border-radius: 25px;
    float: center;
    width: 93%;
    height: 90px;
    margin: px;
    margin-top: 40px;
 border: 3px solid #0080ff;
 background-color:  #e6f2ff;



}

.toprow1 {
    border-radius: 25px;
    float: center;
    width: 93%;
    height: 53px;
    margin: px;
    margin-top: 40px;
 border: 3px solid #0080ff;
 background-color:  #e6f2ff;



}

.toprowx {
    border-radius: 25px;
    float: center;
    width: 93%;
    height: 80px;
    margin: px;
    margin-top: 0px;
 border: 3px solid #0080ff;




}

.meddiv {
    border-radius: 25px;
    float: center;
    width: 93%;
    height: 520px;
    margin: px;
    margin-top: 0px;
 border: 3px solid #0080ff;




}

.floating-box1 {
    border-radius: 25px;
    float: center;
    width: 93%;
    height: 750px;
    margin: px;
    border: 3px solid #0080ff;
    background-color:  #e6f2ff;

}
.floating-box10 {
    border-radius: 25px;
    float: center;
    width: 90%;
    height: 77%;
    margin: 5px;
    border: 3px solid #0080ff;
}



.floating-boxd {

    float: left;
    width: 71%;
    height: 452px;
    margin-left: 5px;
    margin-top: 5px;
       



}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 15px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #0080ff;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


span {
    text-decoration:none;
    color:black;
    cursor:pointer;
}

hr.style2 {
    border-top: 3px double #8c8b8b;
}


#main {
    
    float: left;
     
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    
    
}

#main div {
    width: 531.18px;
    height: 48.20px;
     border-radius: 25px;

}